.formtodo__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3.5rem;
}

.formtodo__body {
  width: 50%;
}

@media (max-width: 991px) {
  .formtodo__body {
    width: 100%;
  }
}
